ul {
  li {
    list-style-type: none;
    display: flex;
  }
}

.header {
  flex: 0 0 10%;
}

.detail-header {
  flex: 0 0 70%;
}

.button-wrapper{
    display: flex;
    justify-content: flex-end;
}

.list-container-wrapper{
  height: 500px;
  overflow-y: scroll;
}