body {
  font-family: "Roboto", "FontAwesome", Arial, system-ui, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

ul {
  li {
    list-style-type: none;
    display: flex;
    &:nth-child(even) {
      background: #ccc;
    }
  }
}

.header {
  flex: 0 0 10%;
  padding-left: 10px;
}

.news-detail-header {
  flex: 0 0 70%;
}
.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  a {
    text-decoration: dashed;
    cursor: pointer;
  }
}

.list-container-wrapper {
  height: 500px;
  overflow-y: scroll;
}
.upvote-button {
  cursor: pointer;
}

.table-header {
  background-color: #59b43a;
  color: #fff
}
